<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>Agent B — Console IA</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body class="page">
  <header class="topbar">
    <h2>Agent B — Console IA</h2>
    <a class="back" href="/">↩ Quitter</a>
  </header>

  <main class="card">
    <p>
      Vous contrôlez l’IA prédictive.  
      Votre mission : estimer quels pipelines présentent le plus grand risque et aider l’Agent A à trouver celui à couper.
    </p>

    <form id="predictForm" class="form">
      <label>Latitude</label>
      <input id="lat" type="number" step="any" required placeholder="ex: 55.75" />

      <label>Longitude</label>
      <input id="lon" type="number" step="any" required placeholder="ex: 37.61" />

      <label>Capacité du pipeline</label>
      <input id="capacity" type="number" step="any" required placeholder="ex: 1200" />

      <label>Opérateur</label>
      <input id="operator" required placeholder="ex: Rosneft" />

      <label>Année de construction</label>
      <input id="year" type="number" required placeholder="ex: 1998" />

      <div class="actions">
        <button id="predictBtn">🔎 Lancer l’analyse IA</button>
      </div>
    </form>

    <div id="predictError" class="error"></div>
    <div id="predictResults" class="result mono"></div>

    <hr/>

    <section>
      <h3>⚙️ Validation finale</h3>
      <p>
        L’IA a identifié le pipeline le plus risqué.  
        Transmettez le <strong>nom du pipeline</strong> et entrez vos deux codes d’arrêt ensemble pour éviter l’explosion.
      </p>

      <div class="form small">
        <label>Pipeline détecté</label>
        <input id="finalSite" />

        <label>Code Agent A</label>
        <input id="finalA" />

        <label>Code Agent B</label>
        <input id="finalB" />

        <div class="actions">
          <button id="submitFinalBtn">🚨 Activer la coupure</button>
        </div>
      </div>

      <div id="finalResponse" class="result"></div>
    </section>
  </main>

  <script src="/static/js/joueur2.js"></script>
</body>
</html>
